body {
  background-color: deepskyblue;
}
hr {

  border-style: solid;
  border-color: white;
      height: 0px}
  img {height: 200px;}
h1 {color: mediumspringgreen;}
h3{color: mediumspringgreen;}
